<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
	>
	
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cadastar</title>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
</head>
<body>
	<div class="fixed-top">
		<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	 	 <a href="/" class="navbar-brand">EVENTOS</a>
		</nav>
		
		
		

	<script src="bootstrap/js/bootstrap.min.js"></script>
	
	</div>
</body>
</html>