<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
</head>
<body class="container">
	<h1>Detalhes do Evento</h1>
	<h3><a href="/">Eventos</a></h3>
	


		<table class="table container">
			<thead>
			    <tr>
			      <th scope="col">NOME</th>
			      <th scope="col">LOCAL</th>
			      <th scope="col">DATA</th>
			      <th scope="col">HORÁRIO</th>
			    </tr>
		  	</thead>
			<tbody>
				<tr th:each="evento : ${evento}">
					<td><p><span th:text="${evento.nome}"></span></p></td>
					<td><p><span th:text="${evento.local}"></span></p></td>
					<td><p><span th:text="${evento.data}"></span></p></td>
					<td><p><span th:text="${evento.horario}"></span></p></td>
				</tr>
			</tbody>
		</table>
	
	
	
	
	
</body>
</html>