<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Cadastar</title>
</head>
<body>
	
	<h2>Cadastro de eventos</h2>
	<form method="post">
		<label>Nome:</label><input type="text" value="" name="nome" />
		<label>Local:</label><input type="text" value="" name="local" />
		<label>Data:</label><input type="date" value="" name="data" />
		<label>Hora:</label><input type="time" value="" name="horario" />
		<button type="submit" value="SALVAR" >SALVAR</button>
		
	</form>

</body>
</html>