<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http//www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/layout-padrao}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"/>
</head>
<body >
		<div class="fixed-top">
			<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
		 		<a href="/cadastrarEvento" class="navbar-brand">CADASTRAR</a>
			</nav>
		</div>
	
	<div id="body" class="container">
	
	


	<h1>Eventos</h1>

	
		<table class="table container">
			<thead>
			    <tr>
			      <th scope="col">NOME</th>
			      <th scope="col">LOCAL</th>
			      <th scope="col">DATA</th>
			      <th scope="col">HORÁRIO</th>
			    </tr>
		  	</thead>
			<tbody>
				<!-- mvc é padrão do tymeleaf, EC são as iniciais do controller, detalhesEvento é o nome do método, evento é o nome passado pro controller. -->
				<tr th:each="evento : ${eventos}">
					<td><p><a th:href="${(#mvc.url('EC#detalhesEvento').arg(0,evento.id)).build()}"><span th:text="${evento.nome}"></span></a></p></td>
					<td><p><span th:text="${evento.local}"></span></p></td>
					<td><p><span th:text="${evento.data}"></span></p></td>
					<td><p><span th:text="${evento.horario}"></span></p></td>
				</tr>
				
			</tbody>
		</table>
	
	
	
	
	
	
	</div>
</body>
</html>